header
{
    border:2px solid blue;
}

h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

#login
{
    border: 1px solid black;
    width:50%;
}

#register
{
    border:1px solid black;
    width:50%;
}

footer
{
    border:2px solid red;
    text-align: center;
}
